.navigation{
    display: flex;
    padding: 1em 1.75em;
    justify-content: space-between;
    align-items: center;
    box-shadow: var(--black-transparent-20) 0 5px 15px;
    margin-bottom: 2rem;
    height: 3rem;
    position: sticky;


    &__brandName{

        h1{

        }
    }

    &__links ul{
        list-style: none;
        li {
            display: inline;
        }
    }
}