.navigation{
    display: flex;
    padding: 1em 1.75em;
    justify-content: space-between;
    align-items: center;
    box-shadow: var(--box-shadow-100);
    height: 3rem;

    &__brandName{

        h1{

        }
    }

    &__links ul{
        list-style: none;
        li {
            display: inline;
        }
    }
}