.navigation{
    display: flex;
    padding: 1em 1.75em;
    justify-content: space-between;
    align-items: center;
    box-shadow: var(--black-transparent-20) 0 5px 15px;
    margin-bottom: 2rem;
    height: 3rem;
    position: sticky;


    &__brandName{

        h1{

        }
    }

    &__links ul{

        list-style: none;

        li {
            display: inline;
            a{
                padding: .75em 1em;
                margin: .75em 1em;
                border: 1px solid var(--voilet-100);
                border-radius: 5px;
                cursor: pointer;
                transition: var(--hover-transition);
                text-decoration: none;
                color: var(--voilet-100);

                &:hover{
                    background: var(--voilet-100);
                    color: var(--white-100);
                }

                &.active{
                    background: var(--voilet-100);
                    color: var(--white-100);
                }
            }
        }


    }
}